.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.blogContainer {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogs a {
  text-decoration: none;
  color: inherit;
}

.blogContainer > p {
  margin-bottom: 4.5rem;
  text-align: center;
  font-size: 1.125rem;
}

.heading {
  margin: 0;
  margin-bottom: .75rem;
  font-size: 50px;
  font-family: 'Inter', sans-serif;
}

.blogItem h3 {
  font-size: 1.25rem;
}

.blogItem p {
  font-size: 14px;
}

.mainNav ul {
  display: flex;
  justify-content: center;
  margin-top: 3.125rem;
}

.mainNav ul li {
  list-style: none;
  margin-right: 1.25rem;
  font-weight: bold;
}

.mainNav ul li a {
  text-decoration: none;
  color: inherit;
}

.imgContainer {
  padding: 1.875rem 0.625rem;
  margin: 0 auto;
  display: block;
  width: 213px;
}

.myImg {
  border-radius: 0.625rem;
}