.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 10rem;
  min-height: 100vh;
}

.description {
  color: #696969;
}

@media (max-width: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}