@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto+Mono&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0; 
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button
{
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
