.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.blogContainer {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.blogContainer > p {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
}

.heading {
  margin: 0;
  margin-bottom: .75rem;
  text-align: center;
  font-size: 0.925rem;
  font-family: 'Inter', sans-serif;
}

.btn {
  width: 88px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  font-size: .75rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.popularBlogs {
  max-width: 334px;
  margin-left: auto;
  margin-right: auto;
}

.popularBlogs h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.blogItem {
  margin-bottom: 1.5rem;
}

.blogItem p {
  font-size: 14px;
}

.mainNav ul {
  display: flex;
  justify-content: center;
  margin-top: 3.125rem;
}

.mainNav ul li {
  list-style: none;
  margin-right: 1.25rem;
  font-weight: bold;
}

.mainNav ul li a {
  text-decoration: none;
  color: inherit;
}

.imgContainer {
  padding: 1.875rem 1.625rem 0.875rem;
  margin: 0 auto;
  display: block;
  width: 213px;
}

.myImg {
  width: 150px;
  border-radius: 50%;
  height: 146px;
}